.header {
    width: 100%;
    background-color: #222;
    padding: 1em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.title-header {
    color: #00e0ff;
    font-weight: 400;
    font-size: 2em;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.navbar a {
    padding: 1em;
    color: #fff;
    transition: .5s;
}

.navbar a:hover {
    color: #00e0ff;
    transform: translateY(-.5em);
}

.menu {
    display: none;
    padding: 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu svg {
    font-size: 2em;
    color: #fff;
    transition: .5s;
}

.menu:hover svg {
    color: #00e0ff;
}

@media screen and (max-width: 800px) {
    .menu {
        display: block;
        z-index: 999;
    }

    .navbar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #222;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
    }
}