.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background-color: #111;
}

.text-container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}

.text-container-home h2 {
    color: #fff;
    font-weight: 400;
}

.text-container-home h2 span {
    color: #00e0ff;
    font-size: 2em;
    font-weight: 800;
}

.btns-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}

.btns-container a {
    font-size: 2em;
    color: #fff;
    border-radius: 10px;
    transition: .5s;
}

.btns-container a:hover {
    color: #00e0ff;
    border-color: #00e0ff;
}

.img-container-home {
    width: 450px;
}

.img-container-home img {
    width: 100%;
}
@media screen and (max-width: 950px) {
    .home {
        padding: 15% 0;
        flex-direction: column;
        gap: 2em;
        justify-content: flex-start;
    }

    .text-container-home h2 {
        text-align: center;
    }

    .btns-container {
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .home {
        padding-top: 30%;
    }
}

@media screen and (max-width: 450px) {
    .img-container-home {
        width: 90%;
    }

    .text-container-home h2 span {
        font-size: 1.5em;
    }
}