.projects {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #00e0ff, #111);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
}

.container-projects {
    max-width: 1300px;
}

.container-projects h2 {
    width: 100%;
    color: #00e0ff;
    font-weight: 400;
    font-size: 2em;
    background-image: linear-gradient(to right, #111, transparent);
    padding: .5em 1em;
    border-radius: 5px;
    margin-bottom: 1em;
}

.container-projects ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 4em;
}

.container-projects ul li {
    width: 600px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.container-projects ul li img {
    width: 100%;    
}

.container-projects ul li h3 {
    text-align: center;
    font-weight: 800;
    color: #00e0ff;
    background-color: #222;
    padding: .5em;
}

.info {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #11111199;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.info p {
    width: 65%;
    color: #fff;
    text-align: center;
    line-height: 1.5em;
    text-indent: 1em;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.btn-container a {
    color: #fff;
    font-size: 1.2em;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: .5em;
    transition: .5s;
}

.btn-container a:hover {
    color: #00e0ff;
    border-color: #00e0ff;
}

.projects ul li:hover > .info {
    opacity: 1;
    visibility: visible;
}